<div class="ui-fluid mypanel-size-local">

  <div class="ui-g" *ngIf="currentUser && partido">
    <div class="ui-g-12"><i class="pi pi-calendar"></i> Día: <b>{{partido.dia}}</b></div>
    <div class="ui-g-6"> <i class="pi pi-clock"></i> Tiempo: <b>{{partido.duracion}}</b></div>
    <div class="ui-g-6"> <i class="pi pi-clock"></i> Turnos: <b>{{partido.turnos}}</b></div>
    <div class="ui-g-6"><i class="fa verde fa-square"></i> Pistas: <b>{{partido.pistas}}</b></div>
    <div class="ui-g-6"><i class="pi pi-users"></i> Apuntados:
        <b>{{partido.jugadoresapuntados}}/{{partido.jugadorestotal}}</b>      
    </div>   

    <div class="ui-g-6"  *ngIf="1===1 || ( currentUser?.isAdmin && idpartido_estado!=1)">
      <i (click)="BorrarPartido()" class="fa fa-1x fa-eraser rojo icono-link"> Borrar partido</i>    
  </div>   
  <div class="ui-g-6">
    <i (click)="onEdit(partido)" class="pi pi-pencil azul icono-link"> Editar</i>
</div>   
    
</div>
<hr>
      
  <app-gestion-jugadores *ngIf="currentPartido" [currentPartidoSubject]="currentPartidoSubject"  [currentPartido]="currentPartido" [currentUser]="currentUser"></app-gestion-jugadores>

  <div class="ui-g">
    <div class="ui-g-5">
        <button  *ngIf="currentUser?.isAdmin && partido" (click)="hacerparejasAleatorio()"  styleClass="panelGridCenter"   
        pButton type="button" label="Aleatoria" icon="fa fa-1x fa-steam"  iconPos="right" class="ui-button-secondary"
        [disabled]="partido.idpartido_estado!=1">
         </button> 
    </div>
    <div class="ui-g-2">
    </div>
    <div class="ui-g-5">
        <button  *ngIf="currentUser?.isAdmin && partido" (click)="hacerparejasPorRanking()"  styleClass="panelGridCenter"   
        pButton type="button" label="V.I.C.T.O.R." icon="fa fa-1x fa-steam"  iconPos="right"
        [disabled]="partido.idpartido_estado!=1">
      </button> 
    </div>
</div>

  <app-gestion-pistas *ngIf="currentPartido"  [currentPartido]="currentPartido"></app-gestion-pistas>
  
  

<div class="ui-g-4" align="center"  *ngIf="idpartido_estado!=3">  

  
</div>
<div class="ui-g-4" align="center"  *ngIf="idpartido_estado!=3">  
  <button   
        
  (click)="CerrarPartido()"
  pButton
  class="ui-button-info"   
  type="button"
  icon="fa fa-2x fa-close"
  label=" Cerrar"
  
  [disabled]="idpartido_estado!=1">
  </button>
</div>
<div class="ui-g-4" align="center"  *ngIf="idpartido_estado!=3">  
  <button   
      class="ui-button-success"    
      (click)="FinalizarPartido()"
      pButton
      type="button"
      icon="fa fa-2x fa-smile-o"
      label=" Finalizar"
      [disabled]="idpartido_estado!=2">
      </button>
</div>
<p-dialog header="Partido" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="false"
[resizable]="false" [style]="{'max-width': '800px'}">
<app-my-form (EventEmitterForm)="submitEdit($event)" [urlEntidad]="urlEntidad"
    [formDataTemplate]="formDataTemplate"></app-my-form>
</p-dialog>

</div>





