<div class="ui-fluid mypanel-size-local">


  <app-ver-datos-partido [currentPartido]=partido  [currentUser]=currentUser></app-ver-datos-partido>

<div class="ui-g" *ngIf="currentUser && partido">
  <div class="ui-g-6">
    <p-splitButton *ngIf="propietarioOrAdmin" label="Acciones" icon="fa fa-1x  fa-list-alt"  [model]="items" styleClass="ui-button-secondary"></p-splitButton>
  </div>
  <div class="ui-g-6 centrado partido_estado">
  <span class="partido_{{partido?.estado_des}}">  {{partido?.estado_des}} </span>
  </div>
</div>
<hr>
      
  <app-gestion-resultado *ngIf="partido?.finalizado"  [currentPartido]="currentPartido"></app-gestion-resultado>
  <app-gestion-jugadores *ngIf="currentPartido" [currentPartidoSubject]="currentPartidoSubject"  [currentPartido]="currentPartido" [currentUser]="currentUser"></app-gestion-jugadores>

  <div class="ui-g">
    <div class="ui-g-3">
        <button  *ngIf="partido?.abierto && propietarioOrAdmin" (click)="hacerparejasAleatorio()"  styleClass="panelGridCenter"   
        pButton type="button" label="Aleatoria"  class="ui-button-secondary"
        [disabled]="!partido?.abierto">
         </button> 
    </div>
    <div class="ui-g-1">
    </div>
    <div class="ui-g-4">
        <button  *ngIf="partido?.abierto && propietarioOrAdmin" (click)="hacerparejasPorRanking()"   styleClass="panelGridCenter"   
        pButton type="button" label="V.I.C.T.O.R."  [disabled]="!partido?.abierto">
      </button> 
    </div>
    <div class="ui-g-1">
    </div>
    <div class="ui-g-3">
      <button  *ngIf="partido?.abierto && propietarioOrAdmin" [routerLink]="['/manual-partido', partido.id]"   styleClass="panelGridCenter"   
      pButton type="button" label="Manual"   [disabled]="!partido?.abierto">
    </button> 
  </div>

</div>

  <app-gestion-pistas *ngIf="currentPartido"  [currentPartido]="currentPartido"></app-gestion-pistas>
  

<p-dialog header="Partido" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="false"
[resizable]="false" [style]="{'max-width': '800px'}">
<app-my-form (EventEmitterForm)="submitEdit($event)" [urlEntidad]="urlEntidad"
    [formDataTemplate]="formDataTemplate"></app-my-form>
</p-dialog>

</div>





