
.comun-detalle-partido{
    border-width: 1;
    width: 90%;
    border-color: wheat;
    box-shadow: 4px 4px black;
    min-height: 50px;    
    padding: 2px;;
}

.drive{    
    background-color:#0A0A2A;
    
    
}

.reves{    
    background-color:#2A0A12;
}







  @media screen and (max-width: 700px) {
    /* Mobile */
 
    .mypanel-size-local{
      width: 98%;
      margin: 0 auto;
      background-color: black;
    }
  }
  
  @media screen and (min-width: 700px) {
    /* Desktop */
    .mypanel-size-local{
      width: 40%;
      margin: 0 auto;
      background-color: black;
    }
  }