<div class="ui-fluid mypanel-size-local">

  <div class="ui-g" *ngIf="currentUser && partido">
    <div class="ui-g-12"><i class="pi pi-calendar"></i> Día: <b>{{partido.dia}}</b></div>
    <div class="ui-g-6"> <i class="pi pi-clock"></i> Tiempo: <b>{{partido.duracion}}</b></div>
    <div class="ui-g-6"> <i class="pi pi-clock"></i> Turnos: <b>{{partido.turnos}}</b></div>
    <div class="ui-g-6"><i class="fa verde fa-square"></i> Pistas: <b>{{partido.pistas}}</b></div>
    <div class="ui-g-6"><i class="pi pi-users"></i> Apuntados:
        <b>{{partido.jugadoresapuntados}}/{{partido.jugadorestotal}}</b>      
    </div>   
    
    <div class="ui-g-12 derecha"   *ngIf="1===1 || ( currentUser?.isAdmin && idpartido_estado!=1)">
      <i (click)="BorrarPartido()" class="fa fa-1x fa-eraser rojo icono-link">Borrar partido</i>
  </div>
    
</div>
<hr>
      
  <app-gestion-jugadores [currentUser]="currentUser" [idpartido_estado]="idpartido_estado" [partido]="partido"  [idpartido]="idpartido"></app-gestion-jugadores>
  <br>
  <button  *ngIf="currentUser?.isAdmin && partido" (click)="hacerparejas()"  styleClass="panelGridCenter"   
  pButton type="button" label="V.I.C.T.O.R." icon="fa fa-1x fa-steam"  iconPos="right"
  [disabled]="idpartido_estado!=1">
</button> 
<br>
  <app-gestion-pistas [currentUser]="currentUser" [idpartido_estado]="idpartido_estado" [partido]="partido"  [idpartido]="idpartido"></app-gestion-pistas>
  
  

<div class="ui-g-4" align="center"  *ngIf="idpartido_estado!=3">  



    

  
</div>
<div class="ui-g-4" align="center"  *ngIf="idpartido_estado!=3">  
  <button   
        
  (click)="CerrarPartido()"
  pButton
  class="ui-button-info"   
  type="button"
  icon="fa fa-2x fa-close"
  label=" Cerrar"
  
  [disabled]="idpartido_estado!=1">
  </button>
</div>
<div class="ui-g-4" align="center"  *ngIf="idpartido_estado!=3">  
  <button   
      class="ui-button-success"    
      (click)="FinalizarPartido()"
      pButton
      type="button"
      icon="fa fa-2x fa-smile-o"
      label=" Finalizar"
      [disabled]="idpartido_estado!=2">
      </button>
</div>
<!-- 
<div class="ui-g-12 ui-md-12" *ngIf="idpartido_estado===3">

  <p-table [value]="partidoxpistaxranking">
    <ng-template pTemplate="header">
        <tr>
            <th>Pareja</th>
            <th>Ganados</th>
            <th>Juegos</th>            
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ppr>
        <tr>
            <td align="center">{{ppr['drive']}}-{{ppr['reves']}} </td>
            <td align="center">{{ppr['ganados']}}</td>
            <td align="center">{{ppr['juegos']}}</td>            
        </tr>
    </ng-template>
</p-table>

  
</div>

<div class="ui-g-12 ui-md-12">
  <app-partidoxpista 
  [pistasArray]="pistasArray" 
  [turnosArray]="turnosArray" 
  [idpartido]="idpartido"
  [partidosxpistas]="partidosxpistas"></app-partidoxpista>
</div> -->

</div>





