
<div class="ui-fluid">
    <div class="ui-g">
        <div class="ui-g-8 ui-md-8"  align="left" >
          <div class=" icono-link" routerLink="/detalle-jugador">
              <i class="pi pi-user verde" *ngIf="currentUser"></i> {{currentUser?.alias}}
          </div>
            
           
          </div>
          <div class="ui-g-2 ui-md-2" align="center">
            <i class="fa  fa-home azul icono-link" routerLink="/"></i>
          </div>
          <div class="ui-g-2 ui-md-2" align="right">
            <i
              (click)="callLogout.emit($event)"
              class="pi pi-power-off rojo icono-link"
              *ngIf="currentUser"
            ></i>
            <i
              routerLink="/login"
              class="pi pi-power-off verde icono-link"
              *ngIf="!currentUser"
            ></i>
          </div>
    </div>
</div>


