.fondo-verde{
    background-color: green;
}

.fondo-blanco{
    background-color:white;
}

.resultado{
    background-color:dimgrey;
    border-style: solid ;
    border-width: 1px;
    border-color: white;
}
.pareja1{
    border-bottom-color: white;
    border-bottom: double;
    

}

.pareja2{
    border-top-color:  white;
    border-top:  double;
}

.red{
    background-image: url("../../../assets/images/redPadel.PNG");
    background-repeat: repeat-x;
    background-size: cover;
}



@media screen and (max-width: 700px) {
    /* Mobile */
    .divPistas {
        width: 90%;
        color: black;
    }

    .divTurno {
        width: 95%;
       
        margin: 10px;
        padding: 10px;
       
    }

  }
  
  @media screen and (min-width: 700px) {
    /* Desktop */
    .divPistas {
        width: 90%;
        color: black;
        
    }
    .divTurno {
        width: 50%;
          
        margin: 10px;
        padding: 10px;
    }
  
    
  }

  .jugador{
      color: white;
      font-size:medium;
      
  }

.turno_1{
      background-color: #FBEFF2;
  }

.turno_2{
    background-color: #F8E0E6;
}
.turno_3{
    background-color: #F6CED8;
}
