<div class="centrado">
  <div class="divPistas " *ngFor="let pxp of partidosxpistas; let i = index">
    <h3>{{ pxp.nombre }}</h3>
    <div class="p-grid centrado">
      <div class="p-col-4  fondo-verde arriba derecho">
        <div class="box">{{ pxp.jd1 }}</div>
      </div>
      <div class="p-col-1 fondo-blanco"></div>
      <div class="p-col-4  fondo-verde arriba izquierda">
        <div class="box">{{ pxp.jd2 }}</div>
      </div>
      <div class="p-col-1 resultado"></div>
      <div class="p-col-1 resultado"></div>
      <div class="p-col-1 resultado"></div>
      <div class="p-col-4  fondo-verde derecho">
        <div class="box">{{ pxp.jr1 }}</div>
      </div>
      <div class="p-col-1 fondo-blanco"></div>
      <div class="p-col-4  fondo-verde izquierda">
        <div class="box">{{ pxp.jr2 }}</div>
      </div>
      <div class="p-col-1 resultado"></div>
      <div class="p-col-1 resultado"></div>
      <div class="p-col-1 resultado"></div>
    </div>
  </div>
</div>
