<div class="ui-fluid">
  <div class="ui-g">
    <div class="ui-g-12"  align="center" >
      <div class="divTurno turno_{{j+1}}" *ngFor="let turno of turnosArray; let j = index">
        <div class="divPistas" *ngFor="let pista of (pistasArray || []); let i = index">
          {{ getpistaxpartido(pistasArray[i],turnosArray[j]) }}
          <div class="ui-g">
            <div class="ui-g-6"  align="left" >
              <h3>TURNO {{j+1}}</h3>
              </div>
            <div class="ui-g-6"  align="center" >
              <h3>{{ pxp.nombre }}</h3>
              </div>            

            </div>

            <div class="ui-g">
              <div class="ui-g-2 fondo-blanco">P1</div>
              <div class="ui-g-2 fondo-verde pareja1"  align="center" >
                <span class="jugador">{{ pxp.jd1 }}</span>
              </div>            

              <div class="ui-g-2 fondo-verde pareja1" >                
                <span class="jugador">{{ pxp.jr1 }}</span>
              </div>
              <div class="ui-g-2 resultado" (click)="setMarcador(pistasArray[i],turnosArray[j],1)" ></div>
              <div class="ui-g-2 resultado" (click)="setMarcador(pistasArray[i],turnosArray[j],2)" ></div>
              <div class="ui-g-2 resultado" (click)="setMarcador(pistasArray[i],turnosArray[j],3)" ></div>

            </div>

            <div class="ui-g" style="height: 15px;">
              <div class="ui-g-2"></div>
              <div class="ui-g-4 red"></div>
              <div class="ui-g-6"></div>
            </div>
           

            <div class="ui-g">
              <div class="ui-g-2 fondo-blanco">P2</div>
              <div class="ui-g-2 fondo-verde pareja2"  align="center" >
                <span class="jugador">{{ pxp.jd2 }}</span>
              </div>

              

              <div class="ui-g-2 fondo-verde pareja2" >
                <span class="jugador">{{ pxp.jr2 }}</span>
              </div>

              <div class="ui-g-2 resultado" (click)="setMarcador(pistasArray[i],turnosArray[j],1)" ></div>
              <div class="ui-g-2 resultado" (click)="setMarcador(pistasArray[i],turnosArray[j],2)" ></div>
              <div class="ui-g-2 resultado" (click)="setMarcador(pistasArray[i],turnosArray[j],3)" ></div>


            </div>       
               
        </div> 
       
      </div>

    </div>
   
    
   </div>
  </div>

  <p-dialog
header="Añadir Marcador al partido " 
[(visible)]="displayDialog"
[responsive]="true"
showEffect="fade"
[modal]="false"
[responsive]="false" [resizable]="false"        
[style]="{'max-width': '800px'}">

<div class="ui-fluid">
  <div class="ui-g">
    <div class="ui-g-12"  align="center" >
          <h3> {{marcadorPartido}}</h3>
      </div>

    <div class="ui-g-12"  align="center" >
      <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
                <i class="fa fa-bomb"></i>
            </span>            
            <p-dropdown [options]="tanteo" [(ngModel)]="selectTanteoPar1" editable="true" placeholder="Numero set pareja 1"></p-dropdown>
      </div>
    </div>

    <div class="ui-g-12"  align="center" >
      <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
              <i class="fa fa-bomb"></i>
            </span>
            <p-dropdown [options]="tanteo" [(ngModel)]="selectTanteoPar2" editable="true" placeholder="Numero set pareja 2"></p-dropdown>
      </div>
    </div>

    <div class="ui-g-12"  align="center" >
      <p-button icon="fa fa-save" iconPos="right" label="Guardar" (click)="saveSet()"></p-button>
    </div>


  </div>

</div>


  </p-dialog>
  
 
