.fondo-verde{
    background-color: green;
}
.arriba{
    border-bottom: white;
    border-bottom-style:  solid;

}

.derecho{
    border-right: white;
    border-right-style:  dotted;
}

.izquierda{
    border-left: white;
    
    border-left-style:  dotted;
}

@media screen and (max-width: 700px) {
    /* Mobile */
    .divPistas {
        width: 90%;
    }
  }
  
  @media screen and (min-width: 700px) {
    /* Desktop */
    .divPistas {
        width: 50%;
    }
  
    
  }