<div *ngFor="let pxp of partidosxpistas; let i = index">
  
    
    <h3>{{ pxp.nombre }}</h3>
    <div class="p-grid centrado">
      <div class="p-col-6  fondo-verde arriba derecho">
        <div class="">6</div>
      </div>
      <div class="p-col-6  fondo-verde arriba izquierda">
        <div class="box">6</div>
      </div>
      <div class="p-col-6  fondo-verde derecho">
        <div class="box">6</div>
      </div>
      <div class="p-col-6  fondo-verde izquierda">
        <div class="box">6</div>
      </div>
    </div>
 
</div>
