.fondo-verde{
    background-color: green;
}
.arriba{
    border-bottom: white;
    border-bottom-style:  solid;

}

.derecho{
    border-right: white;
    border-right-style:  solid;
}

.izquierda{
    border-left: white;
    border-left-style:  solid;
}