<div class="mypanel-size-local">
    <p-card  header="Reestablecer contraseña" styleClass="panelGridCenter">
        <div>
            <p>Se enviará un código a su correo con el que podrá establecer la nueva contraseña.</p>
            <p>
              <app-my-form #askConf (EventEmitterForm)="submitAskCodigo($event)" 
              [formDataTemplate]="formDataTemplateEmail"    
              [urlEntidad]="urlResetPassAskCodigo">     
              [formButtonLabel]="'Enviar'"
              [formButtonIcon]="'pi pi-envelope'">       
              </app-my-form>
            </p>
            <p>Una vez recibido el código, introduzcalo a continuación y establezca su nueva contraseña.</p>
            <p>
              <app-my-form #changePass (EventEmitterForm)="submitNewPass($event)" 
              [formDataTemplate]="formDataTemplateNewPass" 
              [urlEntidad]="urlCambiarPass">                  
              [formButtonLabel]="'Guardar1'"
              [formButtonIcon]="'pi pi-save'">       
              </app-my-form>
            </p>
        </div>      
    </p-card>  
</div>