<div class="mypanel-size-local">
    <p-panel header="Registro" size="6" styleClass="mypanel-size">

    <app-my-form (EventEmitterForm)="submit($event)" 
    [formDataTemplate]="formDataTemplate"                   
    [formButtonLabel]="'Registro'"
    [urlEntidad]="urlEntidad" 
    [formButtonIcon]="'pi pi-user-plus'">     
     
    </app-my-form>

    <div class="ui-g-12 ui-md-12">
        <button (click)="doFake()" style="width:30%;color: red"  pButton type="button" label="Fake" icon="pi pi-star-o" ></button> 
      </div>

    </p-panel>
</div>