<div class="ui-fluid mypanel-size-local">
    <app-ver-datos-partido [currentPartido]=partido  [currentUser]=currentUser></app-ver-datos-partido>
</div>

<div class="ui-g">
<div class="ui-g-12 derecha" *ngIf="partido">
    <span class="classBoton"  [routerLink]="['/detalle-partido', partido.id]"><i class="fa fa-eye"> </i> Ir al partido</span>
 </div>
</div>

 <div class="ui-g">
    <div class="ui-g-4">
        <div class="divFondoJugadores" pDroppable="products" (onDrop)="dropJugadores()">
            <div *ngFor="let jugador of jugadores">
                <div class="divItem {{jugador.posicion}}" pDraggable="products" (onDragStart)="dragStartJugadores(jugador)" (onDragEnd)="dragEndJugadores()">
                        {{jugador.alias}} 
                </div>
            </div>
        </div>
    </div>

    <div  class="ui-g-8">

        <div *ngIf="partido">
            <div *ngFor="let pareja of parejas">
                <div class="ui-g">
                    <div class="ui-g-2">
                        <div>P{{pareja.id}}</div>
                    </div>
                    <div class="reves ui-g-5 divDestinoParejas"  pDroppable="products" (onDrop)="dropParejas(pareja.id,'reves')">
                        <div *ngIf="pareja && pareja['reves']" class="divItem {{pareja['reves'].posicion}}" pDraggable="products" (onDragStart)="dragStartPareja(pareja.id,'reves')" (onDragEnd)="dragEndPareja()">
                            {{pareja['reves'].alias}} 
                        </div>
                    </div>
                    <div class="drive ui-g-5 divDestinoParejas" pDroppable="products" (onDrop)="dropParejas(pareja.id,'drive')">
                        <div *ngIf="pareja && pareja['drive']" class="divItem  {{pareja['drive'].posicion}}" pDraggable="products" (onDragStart)="dragStartPareja(pareja.id,'drive')" (onDragEnd)="dragEndPareja()">
                            {{pareja['drive'].alias}} 
                        </div>
                    </div>
                   
                </div>
               
            </div>

        </div>
    </div>
 </div>
   

 <div *ngIf="partido">
    <div *ngFor="let parxturn of partidosxturnos">
        <div class="ui-g turno" >
            <div class="ui-g-12 turnoStyle ">
                Turno {{parxturn.turno}}
            </div>

            <div class="ui-g-12">
                <div *ngFor="let pista of parxturn.pistas">
                    <div class="ui-g">
                        <div class="ui-g-2">
                            P {{pista.id}}
                        </div>
                        <div class="ui-g-5">
                            Pista {{pista.id}}
                        </div>

                        <div class="ui-g-5">
                            Pista {{pista.id}}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12" align="center">
            <button
            pButton
            label="Guardar"
            type="submit"
            icon="pi pi-save"
          ></button>
        </div>
    </div>
 </div>
