.divItem{    
    border-radius: 40px;
    border-color: white;
    border-style: solid;
    text-align: center;
    margin-bottom: 10px;  
    margin-top: 10px;
    font-weight: bold;
  }

  .drive{
    background-color:brown;
}

.reves{
    background-color:darkslateblue;
}

.divParejas{
    background-color:red;
    height: 400px;
}

.divFondoJugadores{
    background-color:gray;
    margin: 5px;
    padding: 10px;
}

.divDestinoParejas{
    border-color: white;
    border-style: solid;
}

.turno{
    
    border-color: white;
    border-style: solid;
    margin: 5px;
    padding: 10px;
}
.turnoStyle{
    font-size: 25px;
    text-align:center;
}

.pistaStyle{
    border-color: white;
    border-style: groove;
}