<div class="mypanel-size-local">
    <p-panel header="Jugador" size="6" styleClass="mypanel-size">  
        <p-accordion>
          <p-accordionTab header="Tus Datos"  [selected]="true">
           
              <app-my-form (EventEmitterForm)="submit($event)" 
              [formDataTemplate]="formDataTemplate"    
              [urlEntidad]="urlEntidad"
              [formButtonLabel]="'Guardar'"
              [formButtonIcon]="'pi pi-save'">       
              </app-my-form>
              <br>
              <div class="centrado" >
                <span class="classBoton"  routerLink="/cambiar-password"><i class="fa fa-key fa-4 icono-link"> </i> Cambiar contraseña</span>
             </div>
              
          </p-accordionTab>
          <p-accordionTab header="Tus Partidos">
              <app-detalle-partidos></app-detalle-partidos>
          </p-accordionTab>
          <p-accordionTab header="Tus Parejas">
            <app-detalle-pareja></app-detalle-pareja>
        </p-accordionTab>
          <p-accordionTab header="Estadísticas">
              <app-detalle-estadisticas></app-detalle-estadisticas>
          </p-accordionTab>
          <p-accordionTab header="Ranking">
            <app-detalle-ranking></app-detalle-ranking>
        </p-accordionTab>
      </p-accordion>

     
   
    </p-panel>
  </div>
