

<p-card header="JUGADORES" subheader=""  styleClass="ui-card-shadow panelGridCenter">
    <p-header>
    </p-header>
  
    <div class="panelGridCenter"  *ngIf="currentUser?.isAdmin &&  partido.abierto">
        <span  class="classBoton"  (click)="showDialogToAddJugador()"><i class="fa fa-1x fa-plus-square-o"></i>Añadir jugador</span>
    </div>
    
    <p-tabView>
        <p-tabPanel header="Seleccionados ({{seleccionadosCount}})">
            <p-table [value]="jugadoresSeleccionados">
                <ng-template pTemplate="header">
                    <tr>
                        <th><a (click)="OrdenaByFecha()" >Jugador</a></th>   
                        <th>Posicion</th>                        
                        <th><a (click)="OrdenaByCoef()" >Coef</a></th>     
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-jugador>
                    <tr (click)="partido.abierto && borrarJugador(jugador)">
                        <td>{{jugador.alias}}</td>
                        <td><span class="{{jugador.posicion}}">{{jugador.posicion}}</span> </td>                        
                        <td>{{jugador.coeficiente}}</td> 
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel header="Suplentes  ({{suplentesCount}})">
            <p-table [value]="jugadoresSuplentes">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Jugador</th>
                        <th>Posicion</th>                        
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-jugador>
                    <tr (click)="partido.abierto && borrarJugador(jugador)">
                        <td>{{jugador.alias}}</td>
                        <td>{{jugador.posicion}}</td>                        
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
    </p-tabView>
    <p-footer>    
    </p-footer>
</p-card>


<p-dialog
header="Añadir Jugador/es"
[(visible)]="displayDialog"
[responsive]="true"
showEffect="fade"
[modal]="false"
[style]="{'max-width': '800px'}"
>

<p-listbox [options]="newJugadores" [(ngModel)]="selectJugadores" multiple="multiple" checkbox="checkbox" filter="filter" optionLabel="alias">
  <p-header>
    <i class="fa fa-user"></i>
    Jugadores
  </p-header>
</p-listbox>
<button   
class="ui-button-success"  (click)="AddNewJugadores()" pButton type="button" 
icon="fa fa-2x fa-plus-square-o" [disabled]="selectJugadores.length === 0" label="Añadir" *ngIf="currentUser?.isAdmin" ></button>
 {{selectJugadores.length}}
</p-dialog>


