@media screen and (max-width: 700px) {
    /* Mobile */
 
    .mypanel-size-local{
      width: 100%;
      margin: 0 auto;
      font-size: 5px;
    }
  }
  
  @media screen and (min-width: 700px) {
    /* Desktop */
    .mypanel-size-local{
      width: 40%;
      margin: 0 auto;
    }
  }