@media  screen and (min-width: 700px) {
    /* Desktop */
    .myinput-size {
      width: 80%;
    }  
  
    .mypanel-size {
  
      margin-top:'20px';
      margin: 0 auto;
    }  
  
  
    .Myboton{
      width: 20%;
    }
  
  
  }