@media  screen and (min-width: 700px) {
    /* Desktop */
    .myinput-size {
      width: 80%;
    }  
  
    .mypanel-size {
  
      margin-top:'20px';
      margin: 0 auto;
    }  
  
  
    .Myboton{
      width: 20%;
    }
  
  
  }

  @media screen and (max-width: 700px) {
    /* Mobile */
    .mybutton-size {
      width: 98%;
    }
   
  }
  
  @media screen and (min-width: 700px) {
    /* Desktop */
    
  }