<div class="ui-g-12" align="center">
  <p-table
  [columns]="cols"
  [value]="users"
  selectionMode="single"  
  (onRowSelect)="onRowSelect($event)"
  [paginator]="true"
  [rows]="5"
>
  <ng-template pTemplate="caption">
    Lista de Jugadores
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{ col.header }}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
      <th>Borrar</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns">
        {{ rowData[col.field] }}
      </td>
      <td>
        <button
          (click)="delete(rowData.id)"
          pButton
          type="button"
          icon="pi pi-user-minus"
          class="ui-button-danger"
        ></button>
      </td>
    </tr>
  </ng-template>
  <ng-template  pTemplate="summary" let-rowData>
    <div class="ui-g-12" align="center">
      <button
      style="width: 30%;"
        class="ui-button-success"
        (click)="showDialogToAdd()"
        pButton
        type="button"
        icon="pi pi-user-plus"
        label="Añadir"
      ></button>

    </div>
    
      
    
  </ng-template>
</p-table>
</div>




  <p-dialog
    header="Jugador"
    [(visible)]="displayDialog"
    [responsive]="true"
    showEffect="fade"
    [modal]="false"
    [resizable]="false"        
    [style]="{'max-width': '800px'}"
    
  >

  <app-my-form (EventEmitterForm)="submit($event)"   [formDataTemplate]="formDataTemplate"></app-my-form>

     
  </p-dialog>

