
  <div class="mypanel-size-local">
    <p-panel header="Conectarse" size="6" styleClass="mypanel-size">


      <div class="ui-g centrado">
        <div class="ui-g-12 ui-md-12">
          <img src="assets/images/Login-pPraga.jpg" width="60%" />
        </div>
      
      <div class="ui-g-12 ui-md-12">
        <app-my-form (EventEmitterForm)="submit($event)" 
        [formDataTemplate]="formDataTemplate"                   
        [formButtonLabel]="'Login'"
        [formButtonIcon]="'pi pi-power-off'">       
        </app-my-form>
      </div>

      <div class="ui-g-12 ui-md-12">
        <button [routerLink]="['/registro']"   class="ui-button-success"  pButton type="button" label="registro" icon="pi pi-user-plus" ></button> 
      </div>
      <div class="ui-g-12 ui-md-12">
        <button (click)="doFake()" style="width:30%;color: red"  pButton type="button" label="Fake" icon="pi pi-star-o" ></button> 
      </div>

    </div>
    </p-panel>
  
  </div>
  