<div class="mypanel-size-local">

    <div class="ui-g-12" align="center">
        <div class="mybutton-size">
            <button class="ui-button-success" (click)="showDialogToAdd()" pButton type="button"
                icon="fa fa-2x fa-plus-square-o" label="Añadir partido" *ngIf="currentUser?.isConectado"></button>
        </div>
    </div>

    <div class="ui-g-12">
        <p-dataView #dv [value]="partidos" [paginator]="true" [rows]="10" paginatorPosition="both" filterBy="brand"
            [sortField]="sortField" [sortOrder]="sortOrder">
            <p-header>
            </p-header>
            <ng-template let-partido pTemplate="listItem"> 
                <div class="ui-g divItem">
                    <div class="ui-g-12"><i class="pi pi-calendar"></i> Día: <b>{{partido.dia}}</b></div>
                    <div class="ui-g-5"> <i class="pi pi-clock"></i> Tiempo: <b>{{partido.duracion}}</b></div>
                    <div class="ui-g-7"> <i class="pi pi-clock"></i> Turnos: <b>{{partido.turnos}}</b></div>
                    <div class="ui-g-5"><i class="fa verde fa-square"> </i> Pistas: <b>{{partido.pistas}}</b></div>
                    <div class="ui-g-7"><i class="pi pi-users"></i> Apuntados:
                        <b>{{partido.jugadoresapuntados}}/{{partido.jugadorestotal}}</b>
                    </div>
                  
                    <div class="ui-g-12" *ngIf="currentUser && !partido.idpartidoxjugador">
                        <b><i (click)="Apuntate(partido)" class="pi pi-thumbs-up verde icono-link">
                                Apúntate</i></b>
                    </div>
                    <div class="ui-g-12" *ngIf="currentUser && partido.idpartidoxjugador">
                        <b><i (click)="Borrate(partido)" class="pi pi-thumbs-down rojo icono-link">
                                Borrarte</i></b>
                    </div>
                    <div class="ui-g-12" *ngIf="currentUser?.id === partido.idcreador && partido && partido.idpartido_estado===1">
                        <b>
                        </b>
                    </div>
                </div>
                <div class="ui-g">
                    <div class="ui-g-12 botones panelGridCenter" *ngIf="currentUser">
                        <button pButton type="button" label="Ver partido" icon="pi pi-info"
                        [routerLink]="['/detalle-partido', partido.id]"></button> 
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>


   

</div>