<div class="ui-fluid">
  <div class="ui-g">
    <div class="ui-g-7 ui-md-7">
      <p-toolbar>
        <button #btn type="button" pButton label="Puente Praga" icon="pi pi-bars" class="ui-button-secondary"
          (click)="menu.toggle($event)"
        ></button>
        <p-tieredMenu styleClass="menucus" #menu [model]="MenuData" [popup]="true"></p-tieredMenu>
      </p-toolbar>
    </div>
    <div class="ui-g-5 ui-md-5">
      <app-comun-menu (callLogout)="callLogout.emit($event)" [currentUser]="currentUser"></app-comun-menu>
    </div>
  </div>
</div>


