<div class="ui-fluid">
  <div class="ui-g">
    <div class="ui-g-7 ui-md-7">
      <p-toolbar>
        <button #btn type="button" pButton label="Puente Praga" icon="pi pi-bars" class="ui-button-secondary"
          (click)="menu.toggle($event)"
        ></button>
        <p-tieredMenu styleClass="menucus" #menu [model]="MenuData" [popup]="true"></p-tieredMenu>
      </p-toolbar>
    </div>

    <div class="ui-g-3 ui-md-3" align="right">
      <i class="pi pi-user verde" *ngIf="currentUser"></i> {{currentUser?.nombre}}
     
    </div>

    <div class="ui-g-2 ui-md-2" align="right">
      <i
        (click)="callLogout.emit($event)"
        class="pi pi-power-off rojo icono-link"
        *ngIf="currentUser"
      ></i>
      <i
        routerLink="/login"
        class="pi pi-power-off verde icono-link"
        *ngIf="!currentUser"
      ></i>
    </div>
  </div>
</div>


