/* You can add global styles to this file, and also import other style files */




.icono-link{
  cursor: pointer;
}

.my-p-dropdown{
  width: 100%;
}
.verde{
  color: green;
}

.rojo{
  color: red;
}
.azul{
  color: blue;
}

.info{
  color: yellowgreen;
}
.centrado{
  text-align: center;
  vertical-align:middle;
 }

.my-container{
  
    margin: 0 auto;
    padding: 10px;
}



@media screen and (max-width: 700px) {
  /* Mobile */

  .mybutton-size {
    width: 98%;
  }

  .myinput-size {
      width: 98%;
      
  }  
  .mypanel-size {
    
    margin-top:'20px';
    margin: 0 auto;
  }  
  .myBoton{
    width: 80%;
  }


}

@media  screen and (min-width: 700px) {
  /* Desktop */

  .mybutton-size {
    width: 25%;
  }

  .myinput-size {
    width: 80%;
  }  

  .mypanel-size {

    margin-top:'20px';
    margin: 0 auto;
  }  


  .myBoton{
    width: 20%;
  }


}


.panelGridCenter {
  margin: 0 auto;
}

.dark-theme {
  background-color: #3f3f3f;
  color: #dedede;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100%;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  color: #333c40;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  color: #dedede;
  padding-left: 2px;
  padding-right: 2px;
}

layout-topbar {
  background-color: #20272a;
  box-sizing: border-box;
  display: block;
  padding: 0;
  height: 70px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9997;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}
